<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Team Whiteboard App</title>
    <link rel="stylesheet" type="text/css" href="/src/css/whiteboard.css">
    <link rel="stylesheet" type="text/css" href="/src/css/palette.css">
    <link rel="stylesheet" type="text/css" href="/src/css/postit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>window.module = window.module || {}</script>
  </head>
  <body>
    <div id='newpostits'></div>
    <style id='forslider'></style>

    <span class='hidden' id='user'><%= currentUser %></span>
    <canvas class='whiteboard' id='whiteboard'></canvas>

    <% if(!currentUser) { %> <div class='hidden'> <% } %>
      <div id="control-panel-container">

        <div id="colour-button-container-1">
          <div class="colour-button" id="red" data-value="#FF0000"></div>
          <div class="colour-button" id="yellow" data-value="#FFFF00"></div>
        </div>

        <div id="colour-button-container-2">
          <div class="colour-button" id="blue" data-value="#0000FF"></div>
          <div class="colour-button" id="orange" data-value="#FF9900"></div>
        </div>

        <div id="colour-button-container-3">
          <div class="colour-button" id="green" data-value="#00CC00"></div>
          <div class="colour-button" id="purple" data-value="#660099"></div>
        </div>

        <div id="colour-button-container-4">
          <div class="colour-button" id="black" data-value="#000000"></div>
          <div class="colour-button" id="rubber" data-value="#FFFFFF"></div>
        </div>

        <div id="range-container">
          <input class='range' type="range" id="font" value="5" min="1" max="50">
        </div>

        <div id='clear-whiteboard-container'>
          <button class="palette-button" type='button' id='clear-whiteboard'>Clear</button>
          <button class="palette-button" type='button' id='undo'>Undo</button>
        </div>

        <div id='menu-management'>
          <button type='button' id='menu-button'>Menu</button>
        </div>

        <div class='postit-pad' id='pad'></div>
      </div>

    <% if(!currentUser) { %> </div> <% } %>

    <div id='user-management' class='user-info-container'>
      <% if (currentUser) { %>
        <button type='button' class="user-button" id='logout-button'>Log out</button>
        <p class='user-message'>Logged in as <%= currentUser %></p>
      <% } else { %>
        <button type='button' class="user-button" id='signup-button'>Sign up</button>
        <button type='button' class="user-button" id='login-button'>Log in</button>
        <p class='user-message'>Sign up to Onbord!</p>
      <% } %>
    </div>

    <!-- User login/signup forms -->
    <div class='form-background'>
      <div class='form-container'>
        <!-- Board Menu -->
        <div class='menu-container'>
          <h3>MENU</h3>
          <form class="search" id='search-form' method='post' action='/search' >
            Search: <input id='search-term' name='search' type='text' required>
            <input id='submit-search' type='submit' value='Submit'>
          </form>

          <button type='button' class="menu-button" id='add-board'>Add Board to Favourites</button><br />
          <button type='button' class="menu-button" id='clear-boards'>Clear Favourites</button><br />
          <div class='favourites' class="menu-button" id='favourites'>
          <div>

        </div>
      </div>
    </div>
        
    <script src="/socket.io/socket.io.js"></script>
    <script type='text/javascript' src='/src/whiteboard.js'></script>
    <script type='text/javascript' src='/src/stroke.js'></script>
    <script type='text/javascript' src='/src/eventListeners.js'></script>
    <script type='text/javascript' src='/src/formDisplay.js'></script>
    <script type='text/javascript' src='/src/paletteEventListeners.js'></script>
  </body>
</html>
