<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Team Whiteboard App</title>
    <link rel="stylesheet" type="text/css" href="/src/css/whiteboard.css">
    <link rel="stylesheet" type="text/css" href="/src/css/palette.css">
    <link rel="stylesheet" type="text/css" href="/src/css/search.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type='rext/javascript' src='http://futtta.be/squeezeFrame/squeezeFrame.js'></script>
    <script>window.module = window.module || {}</script>
  </head>
  <body>
    <span class='hidden' id='user'><%= currentUser %></span>
    <canvas width='1000' height='500' class='whiteboard' id='whiteboard'></canvas>

    <% if(!currentUser) { %> <div class='hidden'> <% } %>
      <div class="colour-button" id="red" data-value="#FF0000"></div>
      <div class="colour-button" id="yellow" data-value="#FFFF00"></div>
      <div class="colour-button" id="blue" data-value="#0000FF"></div>
      <div class="colour-button" id="orange" data-value="#FF9900"></div>
      <div class="colour-button" id="green" data-value="#00CC00"></div>
      <div class="colour-button" id="purple" data-value="#660099"></div>
      <div class="colour-button" id="black" data-value="#000000"></div>
      <div class="colour-button" id="rubber" data-value="#FFFFFF"></div>

      Marker Size: <input type="range" id="font" value="5" min="1" max="50">

      <div id='clear-whiteboard-container'>
        <button type='button' id='clear-whiteboard'>Clear Whiteboard</button>
        <button type='button' id='undo'>Undo</button>
      </div>

      <div id='iframes-container'>
        <div class='wrap'>
        </div>
      </div>

      <div id='menu-management'>
        <button type='button' id='menu-button'>Menu</button>
      </div>
    <% if(!currentUser) { %> </div> <% } %>

    <div id='user-management' class='user-info-container'>
      <% if (currentUser) { %>
        <button type='button' id='logout-button'>Log out</button>
        <p class='user-message'>Logged in as <%= currentUser %></p>
      <% } else { %>
        <button type='button' id='signup-button'>Sign up</button>
        <button type='button' id='login-button'>Log in</button>
        <p class='user-message'>Sign up to Onbord!</p>
      <% } %>
    </div>

    <!-- User login/signup forms -->
    <div class='form-background'>
      <div class='form-container'>
        <form class='form' id='login-form' action="/user/login" method="post">
          <h3>Log in</h3>
          <input id='login-username' type="text" name="username" placeholder="Username" required>
          <input id='login-password' type="password" name="password" placeholder="Password" required>
          <input id='login-submit' class="button" type="submit" value="Log In">
        </form>

        <form class='form' id='signup-form' method='post' action='/user/new'>
          <h3>Sign up</h3>
          NAME: <input id='signup-name' name='name' type='text' required><br />
          USERNAME: <input id='signup-username' name='username' type='text' required><br />
          EMAIL: <input id='signup-email' name='email' type='email' required><br />
          PASSWORD: <input id='signup-password' name='password' type='password' required><br />
          <input id='create-account' type='submit' value='Submit'>
        </form>

        <!-- Board Menu -->
        <div class='menu-container'>
          <h3>MENU</h3>
          <div class='searchWrap'>
            <div class="search">
              <input type="text" class="searchTerm" placeholder="What board are you looking for?">
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <button type='button' id='add-board'>Add Board to Favourites</button>
          <button type='button' id='clear-boards'>Clear Favourites</button>
          <div class='favourites' id='favourites'>
          <div>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type='text/javascript' src='/src/whiteboard.js'></script>
    <script type='text/javascript' src='/src/stroke.js'></script>
    <script type='text/javascript' src='/src/eventListeners.js'></script>
    <script type='text/javascript' src='/src/paletteEventListeners.js'></script>
  </body>
</html>
