@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');

.colour-button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: solid 1px #96C7D4;
  float: left;
}

.palette-button {
  border-radius: 25%;
  width: 90px;
  height: 20px;
  border: solid 1px black;
  float: left;
  background: none;
  border: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  color: #438ea3;
}

#clear-whiteboard {
  width: 40px;
  margin-left: 5px;
}

.user-message {
  height: 10px;
}

#control-panel-container {
  background-color: #96C7D4;
  border: solid 4px #438ea3;
  border-radius: 25px;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 100px;
  height: 270px;
  float: left;
  z-index: 4;
}

#colour-button-container-1 {
  width: 50px;
  height: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}

#colour-button-container-2 {
  width: 50px;
  height: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
}

#colour-button-container-3 {
  width: 50px;
  height: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
}

#colour-button-container-4 {
  width: 50px;
  height: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
}

#range-container {
  width: 50px;
  float: right;
  transform: rotate(-90deg);
  margin-top: 5px;
}

input[type='range'] {
  -webkit-appearance: none !important;
  background:#438ea3;
  height: 7px;
  width: 125px;
  border-radius: 5px;
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  background: white;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1px;
  -webkit-appearance: none !important;
}
