html, body {
  cursor: url(/images/cursors/blackmarker.png), pointer;
  background-color: #96C7D4;
}

.logo {
  background-image: url(/images/onbord-logo-soft.png);
  background-repeat: no-repeat;
  height: 46px;
  width: 250px;
  position: fixed;
  bottom: 0px;
  left: 15px;
}

.whiteboard {
  border: none;
  float: left;
  background-color: #fff;
  border-radius: 10px;
  border: solid 2px #438ea3;
}

.user-message {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.user-button {
  text-align: center;
  background: none;
  border: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  color: white;
}

.input-field {
  background: red;
  border: none;
}

.user-info-container {
  background-color: #96C7D4;
  border: 4px solid #438ea3;
  border-radius: 25px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  color: #438ea3;
  display:block;
  padding:10px;
  position: fixed;
  top: 15px;
  margin-left: 10px;
}

#welcome-message {
  background-color: #96C7D4;
  border: 4px solid #438ea3;
  border-radius: 25px;
  position: fixed;
  top: 110px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  color: white;
  padding:15px;
  clear: left;
  z-index: 3;
}

.form {
  display: none;
}

.hidden {
  display:none;
}

.form-background {
  display: none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.form-container {
  background-color:white;
  width:300px;
  margin:0 auto;
  text-align: center;
}

.menu-background {
  display: none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.4);
}

.menu-container {
  background-color: #96C7D4;
  border: solid 4px #438ea3;
  border-radius: 25px;
  position: fixed;
  top: 20px;
  left: 45%;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  color: #438ea3;
  padding: 15px;
}

.menu-button  {
  text-align: center;
  background: none;
  border: none;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  color: #438ea3;
  margin-top: 10px;
}

.wrap {
  width: 320px;
  height: 192px;
  padding: 0;
  overflow: hidden;
}

.frame {
  width: 1280px;
  height: 786px;
  border: 0px;
  overflow: hidden;
  border-radius: 30px;
  -ms-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -o-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  transform: scale(0.25);
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
