<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Team Whiteboard App</title>
    <link rel="stylesheet" type="text/css" href="/src/css/whiteboard.css">
    <link rel="stylesheet" type="text/css" href="/src/css/palette.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>window.module = window.module || {}</script>
  </head>
  <body>
    <style id='forslider'></style>
    <span class='hidden' id='user'></span>
    <canvas width='1000' height='500' class='whiteboard' id='whiteboard'></canvas>
    <div class="logo"></div>
    <div id="control-panel-container">

      <div id="colour-button-container-1">
        <div class="colour-button" id="red" data-value="#F18C7F"></div>
        <div class="colour-button" id="yellow" data-value="#FFFD98"></div>
      </div>

      <div id="colour-button-container-2">
        <div class="colour-button" id="blue" data-value="#79BCEA"></div>
        <div class="colour-button" id="orange" data-value="#F9C05C"></div>
      </div>

      <div id="colour-button-container-3">
        <div class="colour-button" id="green" data-value="#70DFA2"></div>
        <div class="colour-button" id="purple" data-value="#C092D3"></div>
      </div>

      <div id="colour-button-container-4">
        <div class="colour-button" id="black" data-value="#141414"></div>
        <div class="colour-button" id="rubber" data-value="#FFFFFF"></div>
      </div>

      <div id="range-container">
        <input type="range" id="font" value="5" min="1" max="50">
      </div>

      <div id='clear-whiteboard-container'>
        <button class="palette-button" type='button' id='clear-whiteboard'>Clear</button>
        <button class="palette-button hidden" type='button' id='undo'>Undo</button>
      </div>

      <div id='menu-management' class="hidden">
        <button type='button' id='menu-button'>Menu</button>
      </div>

    </div>

    <div id='user-management' class='user-info-container'>
      <button type='button' id='signup-button' class='user-button'>Sign up</button>
      <button type='button' id='login-button' class='user-button'>Log in</button>
      <p class='user-message'>Sign up to Onbord!</p>
      <p class='user-info'><%= message %></p>
    </div>

    <!-- User login/signup forms -->
    <div class='form-background'>
      <div class='form-container'>
        <form class='form user-info-container' id='login-form' action="/user/login" method="post">
          <h3>Log in</h3>
          Username: <input class='input-field' id='login-username' name='username' type='text' required><br />
          Password: <input class='input-field' id='login-password' type="password" name="password" placeholder="Password" required><br />
          <input class='user-button' id='login-submit' class="button" type="submit" value="Log In">
        </form>

        <form class='form user-info-container' id='signup-form' method='post' action='/user/new'>
          <h3>Sign up</h3>
          Username: <input class='input-field' id='signup-username' name='username' type='text' required><br />
          Email: <input class='input-field' id='signup-email' name='email' type='email' required><br />
          Password: <input class='input-field' id='signup-password' name='password' type='password' required><br />
          <input class='user-button' id='create-account' type='submit' value='Submit'>
        </form>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type='text/javascript' src='/src/welcome/welcomeWhiteboard.js'></script>
    <script type='text/javascript' src='/src/stroke.js'></script>
    <script type='text/javascript' src='/src/formDisplay.js'></script>
    <script type='text/javascript' src='/src/welcome/basicWhiteboardInterface.js'></script>
    <script type='text/javascript' src='/src/paletteEventListeners.js'></script>
  </body>
</html>
