textarea {
  resize: none;
  overflow: hidden;
}

.postit {
  width: 80px;
  height: 80px;
  position: absolute;
  padding: 1em;
  z-index: 2;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.3);
  border-style: none;
  outline: none;
}

.yellow {
  background-color: rgb(255,255,136);
}

.pink {
  background-color: rgb(255,237,254);
}

.green {
  background-color: rgb(179,255,192);
}

.blue {
  background-color: rgb(179,232,255);
}

.postit-pad {
  width: 10px;
  height: 10px;
  background-color: rgb(255,255,136);
  padding: 1em;
  z-index: 1;
  position:relative;
  left:15px;
  top:10px;
  overflow:hidden;
  padding:20px;
  margin:2em 10%;
}

.postit-pad:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0 13px 13px 0;
  border-style: solid;
  border-color: rgba(0,0,0,0.3) #96C7D4;
  transform: rotate(90deg);
}

.postit-pad-container {
  position: absolute;
  margin-top: 160px;
  margin-left: 5px;
}
